.project_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8rem 1rem 1rem;

  h1 {
    margin-bottom: 5vh;
  }

  .project_card_box {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 40px 0;
    flex-wrap: wrap;

    justify-content: center;
  }
}

.project_containerLight {
  background-color: rgb(224, 224, 240);
  color: black;
}

.project_containerDark {
  @include backgroundDark;
  color: white;
}
