.home_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 1rem 1rem;
  align-items: center;
  justify-content: center;
  display: flex;

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50vh;

    .presentation-txt {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 50px;

        span {
          font-weight: 800;
        }

        .nameLight {
          color: #414d97;
        }

        .nameDark {
          color: rgb(101, 33, 118);
        }
      }

      .bar-separate {
        width: 300px;
        height: 6px;
        margin: 80px 0 40px 0;
        border-radius: 50%;
        filter: drop-shadow(7px 7px 7px #666666);
        -webkit-filter: drop-shadow(7px 7px 7px #666666);
      }

      .bar-light {
        background-color: #414d97;
      }

      .bar-dark {
        background-color: rgb(101, 33, 118);
      }
    }

    .contact-box {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        margin: 0 20px 0 20px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .img-dev-box {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    img {
      width: 100%;
    }
  }
}

.darks {
  color: white;
  @include backgroundDark;
}

.lights {
  background-color: rgb(224, 224, 240);
  color: black;
}
