@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(./font/Montserrat-Medium.ttf);
}

$fontone: Roboto;
$fonttwo: montserrat;


$color-headerDark: #212529;

$colorCardDark: #110231;


@mixin backgroundDark {
  background: rgb(3,3,3);
  background: linear-gradient(240deg, rgba(3,3,3,1) 18%, rgb(35, 18, 39) 37%);
}