.about_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;

  h1 {
    margin-bottom: 6vh;
  }

  .about-box {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 40px 0 0 0;
    height: fit-content;
    align-items: center;
    justify-content: center;

    .about-txt {
      display: flex;
      width: 80%;
      min-height: 40vh;

      p {
        margin: 0 10vh;
        font-size: 20px;
      }
    }

    .about-picture {
      display: flex;
      width: 50%;
      min-height: 40vh;

      img {
        width: 60%;
      }
    }
  }
}

.about_containerLight {
  background-color: rgb(224, 224, 240);
}

.about_containerDark {
  @include backgroundDark;
  color: white;
}
