.about_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;

  h1 {
    margin-bottom: 6vh;
  }

  .about-box {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 30px 0 0 0;
    height: fit-content;
    align-items: center;
    justify-content: center;

    .about-txt {
      display: flex;
      width: 60%;
      min-height: 40vh;

      p {
        margin: 0 4vh 0 8vh;
        font-size: 20px;
      }
    }

    .about-picture {
      display: flex;
      width: 60%;
      min-height: 40vh;

      img {
        width: 60%;
        height: auto;
      }
    }
  }

  .barSkill {
    width: 300px;
    height: 6px;
    border-radius: 50%;
    margin: 80px 0 40px 0;
    filter: drop-shadow(7px 7px 7px #666666);
    -webkit-filter: drop-shadow(7px 7px 7px #666666);
  }

  .barLight {
    background-color: #414d97;
  }

  .barDark {
    background-color: rgb(101, 33, 118);
  }

  .skill_container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    align-items: center;
    justify-content: center;

    .skill-img-box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      img {
        width: 90px;
        margin: 10px;
      }

      .imgLight {
        filter: drop-shadow(4px 4px 4px #666666);
        -webkit-filter: drop-shadow(4px 4px 4px #666666);
      }

      .imgDark {
        filter: drop-shadow(2px 2px 2px #666666);
        -webkit-filter: drop-shadow(2px 2px 2px #666666);
      }
    }
  }
}

.about_containerLight {
  background-color: rgb(224, 224, 240);
}

.about_containerDark {
  @include backgroundDark;
  color: white;
}
