.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;

  .option-container {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-around;

    .flag {
      width: 34px;
      border: 1px solid white;
      border-radius: 6px;
      cursor: pointer;

      &:hover{
        transform: scale(1.1);
        transition: 1s ease-out;
      }

    }

    @media screen and (max-width: 600px) {
      width: 100px;
    }
  }
}

.dark {
  background-color: $color-headerDark;
}
.light {
  background-color: rgb(228, 228, 242);
  color: black;
}
