.about_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;
  font-family: $fonttwo;
  letter-spacing: 1px;
  line-height: 1.6em;

  @media screen and (max-width: 910px) {
    align-items: center;
    padding: 6rem 0.5rem 0.5rem;
  }

  h1 {
    margin-bottom: 6vh;

    @media screen and (max-width: 510px) {
      margin-bottom: 10px;
      font-size: 26px;
    }
  }

  .about-box {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 30px 0 0 0;
    height: fit-content;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 910px) {
      flex-direction: column-reverse;
      max-width: none;
      margin: 10px 20px;
    }

    .about-txt {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      min-height: 40vh;

      @media screen and (max-width: 910px) {
        width: 100%;
        height: auto;
        text-align: center;
        min-height: 0;
      }

      p {
        margin: 2vh 2vh 0 8vh;
        font-size: 20px;

        @media screen and (max-width: 910px) {
          padding: 0vh 6vh;
          margin: 0;
        }

        @media screen and (max-width: 600px) {
          padding: 0vh 6vh;
          font-size: 14px;
          margin: 0;
        }
      }
    }

    .about-picture {
      display: flex;
      width: 45%;
      min-height: 40vh;

      @media screen and (max-width: 1100px) {
        justify-content: center;
      }

      @media screen and (max-width: 910px) {
        width: 100%;
        justify-content: center;
        min-height: 24px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        justify-content: center;
        min-height: 24px;
        margin-bottom: 20px;
      }

      img {
        width: 70%;
        height: auto;
        border-radius: 50%;

        @media screen and (max-width: 910px) {
          width: 40%;
          height: auto;
        }
      }

      .img-light-border {
        filter: drop-shadow(4px 4px 4px #666666);
        -webkit-filter: drop-shadow(6px 4px 6px #666666);

        @media screen and (max-width: 910px) {
          filter: none;
          -webkit-filter: none;
        }
      }

      .img-dark-border {
        filter: drop-shadow(1px 2px 3px white);
        -webkit-filter: drop-shadow(6px -14px 30px rgb(101, 33, 118));

        @media screen and (max-width: 910px) {
          filter: none;
          -webkit-filter: none;
        }
      }
    }
  }

  .barSkill {
    width: 300px;
    height: 6px;
    border-radius: 50%;
    margin: 80px 0 40px 0;
    filter: drop-shadow(7px 7px 7px #666666);
    -webkit-filter: drop-shadow(7px 7px 7px #666666);

    @media screen and (max-width: 910px) {
      margin: 15px 0;
      filter: none;
      -webkit-filter: none;
    }
  }

  .barLight {
    background-color: #414d97;
  }

  .barDark {
    background-color: rgb(101, 33, 118);
  }

  .skill_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
    }

    h2 {
      font-size: 18px;
      @media screen and (max-width: 340px) {
        font-size: 16px;
      }
      @media screen and (max-width: 320px) {
        font-size: 14px;
      }
    }

    .skill-img-box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      img {
        width: 100px;
        margin: 10px;

        @media screen and (max-width: 900px) {
          width: 60px;
        }

        @media screen and (max-width: 600px) {
          width: 40px;
          margin: 2px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }

      .imgLight {
        filter: drop-shadow(4px 4px 4px #666666);
        -webkit-filter: drop-shadow(4px 4px 4px #666666);

        @media screen and (max-width: 910px) {
          filter: none;
          -webkit-filter: none;
        }
      }

      .imgDark {
        filter: drop-shadow(1px 2px 3px white);
        -webkit-filter: drop-shadow(1px 2px 3px white);

        @media screen and (max-width: 910px) {
          filter: none;
          -webkit-filter: none;
        }
      }
    }
  }
}

.about_containerLight {
  background-color: rgb(224, 224, 240);
  color: #414d97;
}

.about_containerDark {
  @include backgroundDark;
  color: white;
}
