.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  width: 40px;
  height: 22px;
  cursor: pointer;

  .logoBtn {
    width: 20px;
  }

  .button_containerLight {
    border: 1px solid black;
  }

  .button_containerDark {
    border: 1px solid white;
  }
}
