.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
}
.header-container .option-container {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-around;
}
.header-container .option-container .flag {
  width: 34px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}
.header-container .option-container .flag:hover {
  transform: scale(1.3);
  transition: 1s ease-out;
}

.dark {
  background-color: #212529;
}

.light {
  background-color: rgb(228, 228, 242);
  color: black;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  width: 40px;
  height: 22px;
  cursor: pointer;
}
.button_container:hover {
  transform: scale(1.4);
  transition: 1s ease-out;
}
.button_container .logoBtn {
  width: 20px;
}
.button_container .button_containerLight {
  border: 1px solid black;
}
.button_container .button_containerDark {
  border: 1px solid white;
}

.navbar-container {
  display: flex;
}
.navbar-container .navbar_links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vh;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    transition: all 0.6s ease-out;
  }
}
.navbar-container .navbar_links .navbar_item {
  padding: 0 0.3rem;
  width: 150px;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_links .navbar_item {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
}
.navbar-container .navbar_links .navbar_itemLight {
  color: black;
  background: linear-gradient(to top, #414d97 0%, #414d97 2px) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.navbar-container .navbar_links .navbar_itemLight:hover {
  background-size: 100% 100%;
  font-weight: 500;
  color: whitesmoke;
}
.navbar-container .navbar_links .navbar_itemDark {
  color: white;
  background: linear-gradient(to top, rgb(57, 16, 67) 0%, rgb(101, 33, 118) 2px) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.navbar-container .navbar_links .navbar_itemDark:hover {
  background-size: 100% 100%;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_linksLight {
    background-color: rgb(188, 188, 218);
  }
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_linksDark {
    background-color: black;
  }
}
@media screen and (max-width: 767px) {
  .navbar-container .show-nav {
    right: 0;
    width: 50vw;
    visibility: visible;
  }
}
.navbar-container .navbar_burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: inherit;
  display: none;
}
.navbar-container .navbar_burger:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-container .navbar_burger .burger-bar,
  .navbar-container .navbar_burger .burger-bar::before,
  .navbar-container .navbar_burger .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
  }
}
.navbar-container .navbar_burger .burger-bar::before,
.navbar-container .navbar_burger .burger-bar::after {
  content: "";
  position: absolute;
  left: 0;
}
.navbar-container .burger-bar::before {
  transform: translateY(-12px);
}
.navbar-container .burger-bar::after {
  transform: translateY(12px);
}
.navbar-container .burgerx::before {
  transform: rotate(45deg);
  transition: all 0.6s ease-out;
}
.navbar-container .burgerx {
  background: transparent !important;
}
.navbar-container .burgerx::after {
  transform: rotate(-45deg);
  transition: all 0.6s ease-out;
}

.home_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 1rem 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.home_container .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50vh;
}
.home_container .presentation .presentation-txt {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}
.home_container .presentation .presentation-txt h1 {
  font-size: 50px;
}
.home_container .presentation .presentation-txt h1 span {
  font-weight: 800;
  color: #414d97;
}
.home_container .presentation .contact-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home_container .presentation .contact-box img {
  width: 80px;
  margin: 0 20px 0 20px;
}
.home_container .presentation .contact-box img:hover {
  transform: scale(1.2);
}
.home_container .img-dev-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.home_container .img-dev-box img {
  width: 100%;
}

.darks {
  color: white;
  background: rgb(3, 3, 3);
  background: linear-gradient(240deg, rgb(3, 3, 3) 18%, rgb(35, 18, 39) 37%);
}

.lights {
  background-color: rgb(224, 224, 240);
  color: black;
}

.about_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;
}
.about_container h1 {
  margin-bottom: 6vh;
}
.about_container .about-box {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 40px 0 0 0;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.about_container .about-box .about-txt {
  display: flex;
  width: 80%;
  min-height: 40vh;
}
.about_container .about-box .about-txt p {
  margin: 0 10vh;
  font-size: 20px;
}
.about_container .about-box .about-picture {
  display: flex;
  width: 50%;
  min-height: 40vh;
}
.about_container .about-box .about-picture img {
  width: 60%;
}

.about_containerLight {
  background-color: rgb(224, 224, 240);
}

.about_containerDark {
  background: rgb(3, 3, 3);
  background: linear-gradient(240deg, rgb(3, 3, 3) 18%, rgb(35, 18, 39) 37%);
  color: white;
}

.skills_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;
}
.skills_container h1 {
  margin-bottom: 5vh;
}
.skills_container .skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 40px 0;
  width: 100%;
}
.skills_container .skill-box span {
  width: 2px;
  height: 60vh;
  background-color: aliceblue;
}
.skills_container .skill-box .tech-skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  align-items: center;
}

.skills_containerLight {
  background-color: rgb(224, 224, 240);
  color: black;
}

.skills_containerDark {
  background: rgb(3, 3, 3);
  background: linear-gradient(240deg, rgb(3, 3, 3) 18%, rgb(35, 18, 39) 37%);
  color: white;
}

.project_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8rem 1rem 1rem;
}
.project_container h1 {
  margin-bottom: 5vh;
}
.project_container .project_card_box {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.project_containerLight {
  background-color: rgb(224, 224, 240);
  color: black;
}

.project_containerDark {
  background: rgb(3, 3, 3);
  background: linear-gradient(240deg, rgb(3, 3, 3) 18%, rgb(35, 18, 39) 37%);
  color: white;
}

.projectCard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  width: 32%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
}
.projectCard_container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
}
.projectCard_container .card img {
  width: 98%;
  height: 160px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.298);
  border-radius: 6px;
}
.projectCard_container .card .description-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px;
}
.projectCard_container .card .description-card h2 {
  text-align: center;
  margin: 12px 0;
}
.projectCard_container .card .description-card div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 180px;
  margin-top: 10px;
}
.projectCard_container .card .description-card div p {
  font-size: 18px;
  text-align: justify;
  margin: 16px 10px 0 10px;
}
.projectCard_container .card .description-card .project-link {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.projectCard_container .card .description-card .project-link button {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  background: #111;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  margin: 10px 14px;
  text-align: center;
  padding: 10px;
}
.projectCard_container .card .description-card .project-link button a {
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.projectCard_container .card .description-card .project-link .btnLight {
  background-color: #414d97;
}
.projectCard_container .card .description-card .project-link .btnLight:hover {
  transform: scale(1.1);
  background-color: #6670bc;
}
.projectCard_container .card .description-card .project-link .btnDark {
  background-color: rgb(101, 33, 118);
}
.projectCard_container .card .description-card .project-link .btnDark:hover {
  transform: scale(1.1);
  background-color: rgb(124, 55, 142);
}
.projectCard_container .card .footer-tagg {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.projectCard_container .card .footer-tagg span {
  margin: 10px;
  font-size: 14px;
  padding: 6px;
  border-radius: 20px;
  color: white;
  text-align: center;
}
.projectCard_container .card .footer-tagg span:hover {
  transform: scale(1.1);
}
.projectCard_container .card .footerLight-tagg {
  border-top: 1px solid black;
}
.projectCard_container .card .footerLight-tagg span {
  background-color: gray;
}
.projectCard_container .card .footerDark-tagg {
  border-top: 1px solid white;
  background-color: transparent;
}
.projectCard_container .card .footerDark-tagg span {
  background-color: rgb(57, 16, 67);
}

.projectCardLight {
  background-color: rgb(231, 231, 240);
}

.projectCardDark {
  background-color: #212529;
  border: 1px solid rgb(61, 4, 55);
}

.contact_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 8rem 1rem 1rem;
  min-height: 100vh;
}
.contact_container h1 {
  margin-bottom: 5vh;
}
.contact_container div {
  display: flex;
  width: 100%;
  max-width: 1500px;
  align-items: center;
  justify-content: center;
}
.contact_container div img {
  width: 50%;
}
.contact_container div .contact-card {
  display: flex;
  width: 50%;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.contact_container div .contact-card form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
.contact_container div .contact-card form input {
  width: 50%;
  margin: 20px;
  padding: 16px;
  background-color: rgb(213, 207, 207);
}
.contact_container div .contact-card form input::-moz-placeholder {
  color: black;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 600;
}
.contact_container div .contact-card form input::placeholder {
  color: black;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 600;
}
.contact_container div .contact-card form textarea {
  text-align: start;
  width: 50%;
  height: 20vh;
  background-color: rgb(213, 207, 207);
  margin-top: 20px;
  font-size: 20px;
}
.contact_container div .contact-card form textarea::-moz-placeholder {
  color: black;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 600;
}
.contact_container div .contact-card form textarea::placeholder {
  color: black;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 600;
}
.contact_container div .contact-card form button {
  margin: 30px;
  width: 40%;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.contact_container div .contact-card form .btnLight {
  background-color: #414d97;
}
.contact_container div .contact-card form .btnLight:hover {
  transform: scale(1.1);
  background-color: #6670bc;
}
.contact_container div .contact-card form .btnDark {
  background-color: rgb(101, 33, 118);
}
.contact_container div .contact-card form .btnDark:hover {
  transform: scale(1.1);
  background-color: rgb(124, 55, 142);
}
.contact_container .contact-cardLight {
  background-color: white;
  background-color: rgb(224, 224, 240);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact_container .contact-cardDark {
  background-color: #212529;
}

.contact_containerLight {
  background-color: rgb(224, 224, 240);
  color: black;
}

.contact_containerDark {
  background: rgb(3, 3, 3);
  background: linear-gradient(240deg, rgb(3, 3, 3) 18%, rgb(35, 18, 39) 37%);
  color: white;
}/*# sourceMappingURL=index.css.map */